*{
/*	background-color: #46241E;*/
	text-align: center;
}

body{
	background-color: #46241E;
}

a {
	text-decoration: none;
	color: #FAF3EB;
}

a:hover{
	color: #F8F281;
}

/*KEEP THIS IN HERE IN CASE YOU WANT TO CHANGE THE FONT!!! IMPORTANT!!!!*/
/*#name {
	font-family: "Meddon";
	color: #FAF3EB;
	font-size: 50px;
	background-color: rgba(70, 36, 30, .5);
}

.tenor {
	font-family: "Josefin Sans";
	font-size: 60px;
	color: #F8F281;
	width: 180px;
	background-color: rgba(70, 36, 30, .5);
	float: right;
}*/


.navBar {
	display: inline-block;
	position: relative;
	font-family: "Josefin Sans";
	font-size: 18px;
	padding-top: 25px;
	padding-right: 40px;
	padding-left: 40px;
	color: #FAF3EB;
	text-align: center;
}


.navBar:active {
	transform: translateY(2px);
}


.space {
	height: 50px;
}

.smallSpace {
	height: 25px;
}




/*alternate stuff to be either replaced or deleted*/

.picture {
	width: 95vw;
	text-align: center;
	position: relative;
	outline: 1px solid #FAF3EB;
	outline-offset: -12px;
}

.footer {
	color: #FAF3EB;
	margin: auto;
	font-family: "Josefin Sans";
	font-size: 12px;
}

.text {
	position: absolute;
	top: 15vw;
	right: 5vw;
/*	padding: 5px;*/
/*	color: white;*/
/*	background-color: rgba(70, 36, 30, .7);*/
	border-radius: 10px;
}
